body 
{
    background-color: var(--principale-1);
    color: var(--principale-3);

    font-family: "Poppins", sans-serif;
}

header
{
    margin: 8px;
    padding: 12px;
    border-radius: 12px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header * 
{
    transition: color 0.4s ease;
    text-decoration: none;
    color: var(--color-1-txt);
}

header section
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap : 2vw;
}

header #liens_centre
{
    position: absolute; 
    left: 50%; 
    transform: translate(-50%);
}

.special
{
    color: var(--color-2-txt);
}

header h2 
{
    border-bottom: 2px solid var(--color-2-txt);
}

header i
{
    color: var(--color-1-txt);
    font-size: 32px;
}

header #bouton
{
    color: var(--color-1-bg);
    background-color: var(--color-1-txt);
    font-size: 1.3em;

    width: 180px;
    height: 60px;
    border-radius: 32px;

    display: flex;
    justify-content: center;
    align-items: center;
}

header #bouton:hover,
header h2:hover,
header i:hover
{
    color: var(--color-2-txt);
}

#text
{
    position: absolute;
    width: 30vw;

    margin: 140px;
}

#text h1
{
    font-size: 4em;
}

#text p
{
    font-size: 2.2em;
}

.options,
form
{
    font-size: 1.9em;
    position: absolute;
    right: 16vw;
    top: 24vh;
    
    width: 30vw;
    
    display: flex;
    flex-direction: column;
}

.options a,
input[type="text"],
input[type="submit"],
input[type="password"]
{
    font-size: 1.3rem;
    padding: 6px;

    margin-bottom: 8px;
    height: 40px;
    width: 96%;

    color: var(--color-1-txt);
    background-color: color-mix(in srgb, var(--color-2-txt) 60%, transparent);
    border: 1px solid var(--color-2-bg);
    border-radius: 6px;
    box-sizing: border-box;

    transition: 0.3s ease;
}

.options a:hover,
input[type="submit"]:hover
{
    color: var(--secondaire-2);
    background-color: var(--secondaire-1);
}