.fromage
{
    --color-1-txt: #FAF3DD;
    --color-1-bg: #3E2F1C;
    
    --color-2-txt: #F4C430;
    --color-2-bg: #D4A017;
    --color-2-txt-hover: black;
    --color-2-bg-hover: #C0851F;

}

body 
{
    background-color: var(--color-1-bg);
    color: var(--color-1-txt);

    font-family: "Poppins", sans-serif;
}

header
{
    margin: 8px;
    padding: 12px;
    border-radius: 12px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header * 
{
    transition: color 0.4s ease;
    text-decoration: none;
    color: var(--color-1-txt);
}

header section
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap : 2vw;
}

header #liens_centre
{
    position: absolute; 
    left: 50%; 
    transform: translate(-50%);
}

.special
{
    color: var(--color-2-txt);
}

header h2 
{
    border-bottom: 2px solid var(--color-2-txt);
}

header i
{
    color: var(--color-1-txt);
    font-size: 32px;
}

header #bouton
{
    color: var(--color-1-bg);
    background-color: var(--color-1-txt);
    font-size: 1.3em;

    width: 180px;
    height: 60px;
    border-radius: 32px;

    display: flex;
    justify-content: center;
    align-items: center;
}

header #bouton:hover,
header h2:hover,
header i:hover
{
    color: var(--color-2-txt);
}

#text
{
    position: absolute;
    width: 30vw;

    margin: 140px;
}

#text h1{
    font-size: 4em;
}

#text p
{
    font-size: 2.2em;
}