.cheese 
{
    --principale-1: #f7e7ce;
    --principale-2: #2e2825;
    --secondaire-1: #ffa700;
    --secondaire-2: #ffb400;
}

.meat 
{
    --principale-1: #ffdddd;
    --principale-2: #993333;
    --secondaire-1: #ff9999;
    --secondaire-2: #d27979;
}

